<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--     和抽象接口类一对一 namespace 必填将xml文件和userInterface(抽象文件(接口）)进行关联-->
<mapper namespace="com.bypx.synthesis.dao.MaterialInterface">
    <select id="queryall"  parameterType="jxcproduct" resultMap="jxcproduct">
        select  * from jxcproduct
    </select>

    <resultMap id="jxcproduct" type="jxcproduct">
        <result property="id" column="id"></result>
        <result property="typeid" column="typeid"></result>
        <result property="total" column="total"></result>
    </resultMap>
</mapper>